<div class="card m-3">
    
    <h5 class="card-header">Formulaire Client</h5>
    <div class="card-body">
       
        <form  #registerForm="ngForm"   (ngSubmit)="onSubmit()"  >
            <div class="form-row">
               
                <div class="form-group col-5">
                    
                    <label for="Nom">Nom</label>
                    <input type="text"  [appTesting]="validation()" name="Nom" id="Nom" class="form-control" [(ngModel)]="Nom"  placeholder="Nom" required/>
                     
                        
                
                    </div>
                 
                
            </div>
                <div class="form-group col-5">
                    <label for ="Prenom">Prenom</label>
                    <input type="text" id="Prenom" name="Prenom" class="form-control" [(ngModel)]="Prenom" placeholder="Prenom" required/>             
                        <div class="invalid-feedback">Veuillez saisir un prénom uniquement composé de lettres!</div>  
                                   
                </div>
            
                <div class="form-group col-5">
                    <label>Pays</label>
                    <input type="text" id="Pays" name="Pays" class="form-control" [(ngModel)]="Pays" placeholder="Pays"/>
                    <div class="invalid-feedback">Veuillez saisir un Pays valide!</div>
                </div>
                <div class="form-group col-5">
                    <label>Email</label>
                    <span id="inputGroupPrepend3">@</span>
                    <input type="Email" formControlName="Email" class="form-control" [(ngModel)]="Email" placeholder="Email" />
                    
                </div>
                <div class="form-group col-5">
                    <label>Login</label>
                    <input type="Login" formControlName="Login" class="form-control" [(ngModel)]="Login" placeholder="Login"/>
                    
                </div>
            <div class="form-group col-5">
                <label>Adresse</label>
                <input type="text" formControlName="Adresse" class="form-control" placeholder="Adresse" [(ngModel)]="Adresse"/>
                
            </div>
           
            <div class="form-group col-5">
                <label>Code Postal</label>
                <input type="text" formControlName="CP" class="form-control" placeholder="Code Postal" [(ngModel)]="CP"/>
               
            </div>
            <div class="form-group col-5">
                <label>Ville</label>
                <input type="text" formControlName="Ville" class="form-control" placeholder="Ville" [(ngModel)]="Ville" />
                
            </div>
            <div class="form-group col-5">
                <label>Telephone</label>
                <input type="text" formControlName="Telephone" class="form-control" placeholder="Telephone" [(ngModel)]="Telephone"/>
               
            </div>
            <div class="form-row col-5">
                <div class="form-group col">
                    <label>Password</label>
                    <input type="Password" formControlName="Password" class="form-control" placeholder="Password" [(ngModel)]="Password" />
                         
                </div>
                
            </div>
            <div class="form-group form-check">
                
                <label for="acceptTerms" class="form-check-label"><input type="checkbox" formControlName="acceptTerms" id="acceptTerms" class="form-check-input"  />Accept Terms & Conditions</label>
              
            </div>
            <div class="text-center">
                <button type="submit" id="form-submit" class="btn btn-primary mr-1" (click)="onSubmit()">Register</button>
                <button class="btn btn-secondary" type="reset" (click)="onReset()">Cancel</button>
            </div>
        </form>
    </div>
    </div>

<app-validation [valid]="valid" [Nom]="Nom" [Prenom] = "Prenom" [Pays]="Pays" >
    
    [valid] = "valid"
    {{Nom}}
    [Nom] = "Nom"
    [Prenom] = "Prenom"
</app-validation>